@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply antialiased
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  };
  .flex-center {
    justify-content: center;
    align-items: center;
  }
}
