@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply antialiased scroll-smooth
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.hero-fade {
  animation: fade-in forwards 1000ms 
}

@keyframes fade-in {
  0% {
    opacity: 0
  }

  100% {
    opacity: 100
  }
}