@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply antialiased scroll-smooth
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.btn-fade {
  animation: fade-out forwards 7000ms 
}

.hero-fade {
  animation: fade-in forwards 1000ms 
}

@keyframes fade-out {
  0%, 80% {
    opacity: 100
  }
  99.9% {
    opacity: 0;
    width: auto;
    height: auto;
  }
  100% {
    width: 0;
    height: 0;
    opacity: 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0
  }

  100% {
    opacity: 100
  }
}